<tr>
  <td>1</td>
  <td>2</td>
  <td>3</td>
  <td>4</td>
  <td>5</td>
  <td>
    <a href="/update_user" class="btn boarder-shadow update">
      <span class="text-gradient"> Edit </span>
    </a>
    <a class="btn boarder-shadow delete">
      <span class="text-gradient"> delete </span>
    </a>
  </td>
</tr>
